@import url('/css/common-light.css');

body { background: #dedede; color: #333 }

a:link,a:active,a:visited { color: rgb(90, 90, 183); }

td:not(.safe)
{
	/*border-top: 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid #cacaca;
	border-bottom: 1px solid #cacaca;*/
	background: #f0f0f0;
}

td.side.userlink:not(.safe) { border-right: 0 none; border-bottom: 0 none; }
td.meta:not(.safe) { border-left: 0 none; }
td.side:not(.safe):not(.userlink) { border-top: 0 none; }

.outline:not(.safe),table.post:not(.safe) { box-shadow: 0px 1px 2px #444; }


/*.cell2:not(.safe),
.cell2 td:not(.safe),
td.side:not(.safe),
td.meta:not(.safe),
td.side.userlink:not(.safe)
{
	background: #eaeaea;
}*/

/* headers */
th:not(.safe)
{
	padding: 5px;
    color: #eeeeee;
    text-shadow: 0px 1px 1px black;
	background: linear-gradient(to bottom, rgb(100, 100, 183) 0%,rgb(80, 80, 183) 100%);
    /*border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);*/
}